@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
 @import url('https://fonts.googleapis.com/css2?family=Jost&family=Pacifico&family=Poppins:wght@300;400;600;700&display=swap'); 

*{
    margin: 0;
    padding: 0;
}
/* todo text al medio y lo modifico part. si es necesario */
body{
    font-family: 'Poppins', sans-serif;
    color: rgb(33, 37, 41);
}
/* comienza el header */
/* dentro de header div grande para darle % */
header{
    width:100%;
    line-height: 50px;
    text-transform: uppercase;
}
/* dentro de header div hijo para darle % */

.hijo{
    width: 68%;
    margin: 0 auto;
    padding: 10px 0px;
    display:flex;
    justify-content: space-between;
    align-items: center;  
}
.logo{
    font-weight: 700;
}
nav a{
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    padding-left: 25px;
}
.redes a{
    color: rgb(0, 0, 0);
    padding-left: 20px;
}


/* comienza la seccion 1 */

.saludo{
    width: 100%;
    background-color:#f5df4e;
}
.sec1{
    width: 68%;
    height: 92.9vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.holasoy{
    font-size: 48px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 62.4px;
}
.develop{
    font-size: 104px;
    text-transform: uppercase;
    line-height: 135px;
}
.develop+p{
    font-size: 20px;
    line-height: 37.8px;
    font-weight: 400;
}


.butsec1{
    background-color:rgb(33, 37, 41);
    color: white;
    line-height: 24px;
    font-size: 16px;
    padding: 15px 30px;
    margin-top: 30px;
    font-weight: 600;
}
.butsec1+a{
    color: rgb(33, 37, 41);
    margin: 0px 40px;
}

.myimg{
    width: 450px;
    height: 450px;
    border-radius:50%;
    border: 17px solid white;
    box-shadow:0 0 20px 4px rgba(167, 162, 162, 0.5);
}
.img{
    width: 450px;
    height: 450px;
    border-radius:50%;
    object-fit: cover;
    
}



/* comienza la seccion 2 */
.aboutme{
    
}
.sec2{
    width: 68%;
    margin:0 auto;

    
}

/* titulo y presentacion */


.textcirc{
    display: flex;
    justify-content: space-between;
}


.title{
    text-align: center;
}

.title p{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    background-color:#f5df4e;
    display: inline-block;
    margin-top: 90px;
    padding: 0px 10px;
}

.title h1{
    font-size: 40px;
    font-weight: 600px;
    line-height: 48px;
    margin-top: 20px;
}

.text{
    width: 63%;
    height: 280px;
    margin-right: 90px;
    margin-bottom: 30px;
    padding-right: 70px;
    
    

}
.text h1{
    font-size: 32px;
    margin-top: 60px;
    
}
.text p{
    font-size: 21px;
    line-height: 37.8px;
    font-weight: 400;
    
    
}

/* 22 con circulo */
.textcirc{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.circulo22{
    border-radius: 50%;
    background-color:#f5df4e;
    width: 110px;
    height: 110px;
    margin-left: 90px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.numero{
    font-size: 144px;
    font-weight: 600;
    line-height: 187px;
    color: rgb(76, 77, 77);
}

/* aqui comienzan listas */

.listas{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 90px;
}

ul{
    list-style: none;
}
ul :first-child{
    color: rgb(108, 117, 125);
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
}

li+li{
    font-size: 18px;
    font-weight:600;
    line-height: 32.4px;
}


/* empieza seccion 3 */

 .skills{
    background: #fafafa; 
}

.sec3{
    width: 68%;
    margin: 0 auto;
    text-align: center; 
}


.cont{
    margin: 32px 0px;
    display: flex;
    justify-content: space-between;
}
.contboth{
   padding: 30px 0px;
}

.hn{
    width: 380px;
    height: 300px;
    display: flex;
    flex-direction: column;
    
}
.hn h1{
    font-size: 24px;
    font-weight: 600;
    line-height:28px;
    margin-top: 20px;
}

.hn p{
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(108, 117, 127);
    line-height: 28.8px;
}

.me{
   font-size: 55px;
   color: #f5df4e;
   margin-top: 40px;
}

.fa-solid{
    font-size: 80px;
}





/* comienza seccion 4 */

.resume{

}
.sec4{
    width: 68%;
    margin: 0 auto;
    
}

.eduexp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:80px;
   
}

.ambos{
    width: 45%;
    /* border-left: 3px solid #f5df4e ;
    padding-left: 20px; */
}

.ambos h1{
    font-size: 28px;
    font-weight: 600;
    line-height: 33.5px;
}

.bleft{
    border-left: 2px solid #f5df4e;
}

.btop{
    border-top: 1px solid rgb(212, 209, 209);
}

.cadatext{
    margin: 20px 0px;
    margin-left: 20px;
    
}

.cadatext>h2{
    font-size: 21px;
    font-weight: 500;
}

.cadatext>h3{
    font-size: 16px;
    font-weight: 400;
}

.cadatext>p{
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
    color: rgb(108, 117, 127);
    line-height: 28.8px;
}

