@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
 @import url('https://fonts.googleapis.com/css2?family=Jost&family=Pacifico&family=Poppins:wght@300;400;600;700&display=swap'); 

/* define variables */

 :root{
    --main-color:#f5df4e;
 }
 :root{
    --letter-color:rgb(33, 37, 41);
 }


*{
    margin: 0;
    padding: 0;   
}

/* todo text al medio y lo modifico part. si es necesario */
body{
    font-family: 'Poppins', sans-serif;
    color: var(--letter-color);
}

html{
    scroll-behavior: smooth;   
}

/* comienza el header */
/* dentro de header div grande para darle % */
header{
    width:100%;
    line-height: 50px;
    text-transform: uppercase;
    position: fixed;
    background-color: white;
}
/* dentro de header div hijo para darle % */

.hijo{
    width: 68%;
    margin: 0 auto;
    padding: 10px 0px;
    display:flex;
    justify-content: space-between;
    align-items: center;  
}
.logo{
    font-weight: 700;
}
.logo:hover{
    transform: scale(1.1);
}

nav{
    width: 700px;
    text-align: center;
}

nav a{
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: var(--letter-color);
    margin: 0px 10px;
}

nav a:hover{
    border-bottom: 3px solid var(--main-color);
}

.redes a{
    font-size: 20px;
    color: var(--letter-color);
    padding-right: 20px;
    
}

.bi-instagram:hover{
    color: rgb(240, 71, 71);
    transform: scale(2);
    
}
.bi-twitter:hover{
    color: rgb(7, 189, 250);
}
.bi-github:hover{
    color: black;
}


/* comienza la seccion 1 */

.saludo{
    width: 100%;
    /* background-color:#f5df4e; */
    background-color: var(--main-color);
}
.sec1{
    width: 68%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.holasoy{
    font-size: 48px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 62.4px;
}

/* animacion developer se escribe solo */

@keyframes write {
    0%{
        width: 0px;
    }
    100%{
        width: 100%;
    }
}
/* @keyframes blink {
    0%{
        border-right-color: transparent;
    }
    50%{
        border-right-color: black;
    }
    100%{
        border-right-color: transparent;
    }
} */


.develop{
    /* animation: blink 1s steps(1) infinite;  */
    animation: write 3s steps(9) infinite;   
}


.develop{
    font-size: 104px;
    text-transform: uppercase;
    line-height: 135px;
    border-right: 2px solid var(--letter-color); 
    overflow: hidden;
}
.develop+p{
    font-size: 20px;
    line-height: 37.8px;
    font-weight: 400;
}

.button1{
    margin-top: 30px;
    display: flex;
    align-items: center;
    
}
.butsec1{
    background-color: var(--letter-color);
    line-height: 24px;
    font-size: 16px;
    padding: 15px 30px;
    font-weight: 600;
    cursor: pointer;
}
.butsec1 a{
    text-decoration: none;
    color: white;
}
.contactame{
    font-size: 16px;
    font-weight: 500;
    
}
.contactame a{
    color: var(--letter-color);
    margin-left: 40px;
    padding-right: 10px;
}

.contactame a:hover{
    text-decoration: none;
}

.myimg{
    width: 450px;
    height: 450px;
    border-radius:50%;
    border: 17px solid white;
    box-shadow:0 0 20px 4px rgba(167, 162, 162, 0.5);
}
.img{
    width: 450px;
    height: 450px;
    border-radius:50%;
    object-fit: cover;
    
}



/* comienza la seccion 2 */
.aboutme{
    
}
.sec2{
    width: 68%;
    margin:0 auto;

    
}

/* titulo y presentacion */


.textcirc{
    display: flex;
    justify-content: space-between;
}


.title{
    text-align: center;
}

.title p{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    background-color: var(--main-color);
    display: inline-block;
    margin-top: 90px;
    padding: 0px 10px;
}

.title h1{
    font-size: 40px;
    font-weight: 600px;
    line-height: 48px;
    margin-top: 20px;
}

.text{
    width: 63%;
    height: 280px;
    margin-right: 90px;
    margin-bottom: 30px;
    padding-right: 70px;
}

.text :first-child{
    font-size: 32px;
    margin-top: 60px;
    margin-bottom: 15px;
}

b{
    border-bottom: 3px solid var(--main-color);
}

.presentacion{
    font-size: 21px;
    line-height: 37.8px;
    font-weight: 400;      
}

/* 22 con circulo */
.textcirc{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.circulo22{
    border-radius: 50%;
    background-color:var(--main-color);
    width: 110px;
    height: 110px;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.circ-years{
    margin-left: 90px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.years-exp{
    font-size: 22px;
}
.numero{
    font-size: 144px;
    font-weight: 600;
    line-height: 187px;
    color: rgb(76, 77, 77);
}

/* aqui comienzan listas */

.listas{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 90px;
}

ul{
    list-style: none;
}
ul :first-child{
    color: rgb(108, 117, 125);
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
}

li+li{
    font-size: 18px;
    font-weight:600;
    line-height: 32.4px;
}


/* empieza seccion 3 */

 .skills{
    background: #fafafa; 
}

.sec3{
    width: 68%;
    margin: 0 auto;
    text-align: center; 
}


.cont{
    margin: 32px 0px;
    display: flex;
    justify-content: space-between;
}
.contboth{
   padding: 30px 0px;
}

.hn{
    width: 380px;
    height: 300px;
    display: flex;
    flex-direction: column;
    
}
.hn h1{
    font-size: 24px;
    font-weight: 600;
    line-height:28px;
    margin-top: 20px;
}

.hn p{
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(108, 117, 127);
    line-height: 28.8px;
}

.me{
   font-size: 55px;
   color: var(--main-color);
   margin-top: 40px;
}

.fa-solid{
    font-size: 80px;
}





/* comienza seccion 4 */

.resume{

}
.sec4{
    width: 68%;
    margin: 0 auto;
    
}

.eduexp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:80px;
   
}

.ambos{
    width: 45%;
    
}

.ambos h1{
    font-size: 28px;
    font-weight: 600;
    line-height: 33.5px;
}

.bleft{
    border-left: 2px solid var(--main-color);
}

.btop{
    border-top: 1px solid rgb(212, 209, 209);
}

.cadatext{
    margin: 20px 0px;
    margin-left: 20px;
    
}

.cadatext>h2{
    font-size: 21px;
    font-weight: 500;
}

.cadatext>h3{
    font-size: 16px;
    font-weight: 400;
}

.cadatext>p{
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
    color: rgb(108, 117, 127);
    line-height: 28.8px;
}

/* barras de porcentaje */
.cont-cont-bb{
    margin: 60px 0px;
}
.cont-cont-bb h1{
    font-size: 28px;
    font-weight: 600;
    line-height: 33.6px;
}
.cont-box-barras{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-de-barras{
    font-size: 16px;
    font-weight: 500;
    width: 600px;
    margin: 30px 0px;
}
.numporc{
    float: right;
}


.barra{
    width: 600px;
    background-color: rgb(230, 230, 240);
    border-radius: 40px;
    display: flex;
    align-items: centr;
}
.porcentaje1{
    width: 79%;
    height: 9px;
    border: 0px;
    border-radius: 20px;
    background: var(--main-color);
}
.porcentaje2{
    width: 83%;
    height: 9px;
    border: 0px;
    border-radius: 20px;
    background: var(--main-color);
}
.porcentaje3{
    width: 50%;
    height: 9px;
    border: 0px;
    border-radius: 20px;
    background: var(--main-color);
}
.porcentaje4{
    width: 65%;
    height: 9px;
    border: 0px;
    border-radius: 20px;
    background: var(--main-color);
}
.porcentaje5, .porcentaje6{
    width: 10%;
    height: 9px;
    border: 0px;
    border-radius: 20px;
    background: var(--main-color);
}

/* boton cv */

.cont-button{
    display: flex;
    justify-content: center; 
    margin-bottom: 90px;
    
}

.button-cv{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid var(--letter-color);
    color: var(--letter-color); 
    padding: 15px 40px;
    background-color: rgb(255, 255, 255);
    transition: background-color 0.5s ease-in-out;
}

.button-cv:hover{
    background-color: var(--letter-color);
    color: white;
}


/* Aqui comienza seccion 5 */

.sec5{
    width: 68%;
    margin: 0 auto;
    text-align: center;
}
.portfolio{
    margin-bottom: 40px;
}
.cont-a-img a{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    margin: 0px 10px;
}
.cont-a-img a:hover{
    border-bottom: 3px solid var(--main-color);
    color: black;
}
.cont-box-imgs{
    padding: 90px 0px;
}
.imgs{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.imgs img{
    width: 415px;
    height: 350px;
    
}
 

/* aqui comienza el footer */

footer{
    background-color: var(--main-color);
}
.mi-footer{
    width: 68%;
    margin: 0 auto;
    padding: 90px 0px;
    display:flex;
    justify-content: space-between;
}

/* parte contacto */

.f-box{
    width: 45%;
    
}
.f-box h1{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 45px;
}
.f-box p{
    font-size: 21px;
    font-weight: 400;
    line-height: 37.8px;
    margin-bottom: 45px;   
}

.contact-info{
    margin-bottom: 20px;
}

.data{
    font-size: 80px;
    font-weight: 600;
    line-height: 24px;
    color: var(--letter-color);
}

.redes-footer{
    margin-top: 20px;
}

/* parte mail */
label{
    margin: 20px 0px;
}
input{
    display: block;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
    background-color: var(--main-color);
    width: 100%;
    height: 50px;
    margin: 30px 0px;
    outline: none;
}
textarea{
    background-color: var(--main-color);
    border: none;
    outline:none;
    margin-top: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    display: block;
    width: 100%;
    height: 100px;
    resize: vertical;
}

.but-footer{
    margin-top: 40px;
    color: rgb(255, 255, 255);
}

input[type=text]:focus::-webkit-input-placeholder,input[type=email]:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder{
    opacity: 0;
    
}

input:focus,textarea:focus{
    border-bottom: 2px solid rgba(83, 78, 78, 0.7);
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.034));
}

